/**** gap ****/
.filterChipsWrap + .listTable{margin-top:-10px;}
.ui-grid + .pagenation,
.title + .chart,
.title + .ui-grid,
.page + .listTable,
.title + .input-search,
.title + .input-text,
.title + .textarea,
.title + .input-file,
.title + .noresult,
.listCtrl + .listTable.card{margin-top:10px;}
.ui-grid + hr,
hr + .title,
.title + .filterChipsWrap,
.listCtrl + .dashboard,
.listCtrl + .ui-grid,
.title + .listTable,
.listCtrl + .flex-card,
.listCtrl + .boxlist,
.listCtrl + .fullChart.page,
.listCtrl + .listTable{margin-top:20px;}
.input-file + .title,
.textarea + .title,
.ui-tabbutton + *,
.input-text + .title{margin-top:25px;}
.dataList + .title,
.input-search + .ui-grid,
.title + .title,
.accordion + .comment{margin-top:30px;}
.dashboardBox + .listCtrl,
.modelChipsWrap + .title{margin-top:40px;}





.ui-selectmenu-button + label + select + .ui-selectmenu-button{margin-left:9px}

.ui.selection.dropdown + .ui.selection.dropdown{margin-left:10px;}

/**** flex ****/
/* [class *= "flex-left-"]{display: flex; /*gap: 40px;*}
[class *= "flex-left-"] > .flex-item{flex:1}
[class *= "flex-left-"][class *= "170"]{}
[class *= "flex-left-"][class *= "170"] > .flex-item:first-child{width:170px; flex:inherit; margin-right:40px;} */

.flex-left-170{}
.flex-left-170:after{content:''; display:block; clear:both;}
.flex-left-170 > .flex-item{}
.flex-left-170 > .flex-item:first-child{width:170px; float:left;}
.flex-left-170 > .flex-item:not(:first-child){float:right; width:calc(100% - 210px)}

.flex-between{display:flex; align-items:center; justify-content:space-between}
.flex-50{display:flex;flex-wrap: wrap; gap:10px;}
.flex-50 > .flex-item{flex: 0 0 calc(50% - 5px);}
.flex-50 > .flex-item .title{padding-top:10px}
.flex-50.gap10{gap:10px;}
.flex-50.gap10 > .flex-item{margin:0}
.flex{display:flex; align-items: center; justify-content: center;}


/**** component ****/
/* icon */
[class ^= "ico-nav-24"]{display:inline-block; vertical-align:middle; margin:-4px 0 0 0; width:24px; height:24px; background:url(../images/common/ico_nav_24.png) no-repeat 0 0;}
[class ^= "ico-nav-24"][class *= "dashboard"]{background-position-x:0px}
[class ^= "ico-nav-24"][class *= "projects"]{background-position-x:-24px}
[class ^= "ico-nav-24"][class *= "models"]{background-position-x:-48px}
[class ^= "ico-nav-24"][class *= "deploy"]{background-position-x:-72px}
[class ^= "ico-nav-24"][class *= "user"]{background-position-x:-96px}
[class ^= "ico-nav-24"][class *= "setting"]{background-position-x:-120px}

[class ^= "ico-24"]{display:inline-block; vertical-align:middle; margin:-4px 0 0 0; width:24px; height:24px; background:url(../images/common/ico_24.png) no-repeat 0 0;}
[class ^= "ico-24-"].active{background-position-y: -24px;}
[class ^= "ico-24-"][class *= "analysis"]{background-position-x:-0px}
[class ^= "ico-24-"][class *= "download"]{background-position-x:-24px}
[class ^= "ico-24-"][class *= "share"]{background-position-x:-48px}
[class ^= "ico-24-"][class *= "edit"]{background-position-x:-72px}
[class ^= "ico-24-"][class *= "delete"]{background-position-x:-96px}
[class ^= "ico-24-"][class *= "deploy"]{background-position-x:-120px}
[class ^= "ico-24-"][class *= "logout"]{background-position-x:-144px}
[class ^= "ico-24-"][class *= "plus"]{background-position-x:-168px}
[class ^= "ico-24-"][class *= "keep"]{background-position-x:-192px}
[class ^= "ico-24-"][class *= "context"]{background-position-x:-216px}
[class ^= "ico-24-"][class *= "breadBack"]{background-position-x:-240px}
[class ^= "ico-24-"][class *= "search"]{background-position-x:-264px}
[class ^= "ico-24-"][class *= "list"]{background-position-x:-288px}
[class ^= "ico-24-"][class *= "card"]{background-position-x:-312px}
[class ^= "ico-24-"][class *= "calendar"]{background-position-x:-336px}
[class ^= "ico-24-"][class *= "close"]{background-position-x:-360px}
[class ^= "ico-24-"][class *= "view"]{background-position-x:-384px}
[class ^= "ico-24-"][class *= "modellist"]{background-position-x:-408px}
[class ^= "ico-24-"][class *= "arrowup"]{background-position-x:-432px}
[class ^= "ico-24-"][class *= "arrowdown"]{background-position-x:-456px}
[class ^= "ico-24-"][class *= "save"]{background-position-x:-480px}
[class ^= "ico-24-"][class *= "time"]{background-position-x:-504px}
[class ^= "ico-24-"][class *= "upload"]{background-position-x:-528px}
[class ^= "ico-24-"][class *= "refresh"]{background-position-x:-554px}
[class ^= "ico-24-"][class *= "write"]{background-position-x:-576px}
[class ^= "ico-24-"][class *= "ham"]{background-position-x:-600px}
[class ^= "ico-24-"][class *= "eye"]{background-position-x:-624px}
[class ^= "ico-24-"][class *= "moanalyze"]{background-position-x:-648px}
[class ^= "ico-24-"][class *= "dataset"]{background-position-x:-672px}
[class ^= "ico-24-"][class *= "rundep"]{background-position-x:-696px}
[class ^= "ico-24-"][class *= "full"]{background-position-x:-720px}

[class ^= "ico-18"]{display:inline-block; vertical-align:middle; margin:-3px 0 0 0; width:18px; height:18px; background:url(../images/common/ico_18.png) no-repeat 0 0;}
[class ^= "ico-18-"][class *= "data"]{background-position-x:0px}
[class ^= "ico-18-"][class *= "model"]{background-position-x:-18px}
[class ^= "ico-18-"][class *= "man"]{background-position-x:-36px}
[class ^= "ico-18-"][class *= "down"]{background-position-x:-54px}
[class ^= "ico-18-"][class *= "up"]{background-position-x:-72px}
[class ^= "ico-18-"][class *= "prev"]{background-position-x:-90px}
[class ^= "ico-18-"][class *= "next"]{background-position-x:-108px}
[class ^= "ico-18-"][class *= "alerts"]{background-position-x:-126px}
[class ^= "ico-18-"][class *= "delete"]{background-position-x:-144px}
[class ^= "ico-18-"][class *= "plus"]{background-position-x:-162px}
[class ^= "ico-18-"][class *= "plus-blue"]{background-position-x:-180px}
[class ^= "ico-18-"][class *= "growno"]{background-position-x:-198px}
[class ^= "ico-18-"][class *= "growup"]{background-position-x:-216px}
[class ^= "ico-18-"][class *= "growdown"]{background-position-x:-234px}
[class ^= "ico-18-"][class *= ""]{background-position-x:-252px}
[class ^= "ico-18-"][class *= ""]{background-position-x:-270px}
[class ^= "ico-18-"][class *= ""]{background-position-x:-288px}
[class ^= "ico-18-"][class *= ""]{background-position-x:-306px}
[class ^= "ico-18-"][class *= ""]{background-position-x:-324px}
[class ^= "ico-18-"][class *= ""]{background-position-x:-342px}
[class ^= "ico-18-"][class *= ""]{background-position-x:-360px}
button > [class ^= "ico-"]{margin-top:0}

/* 버튼 */
[class^="btn-"]{display:inline-block; vertical-align:middle; padding:0 20px; height:40px; line-height:39px; background:#007aff; border:1px solid #007aff; box-sizing:border-box; color:#fff; font-size:14px; border-radius:4px; text-align:center; font-weight: bold;}
[class^="btn-"]:hover{background:#0062cc; border:1px solid#0062cc; color:#fff}
[class^="btn-"].w{padding:0 40px}
[class^="btn-"].outline{background-color:transparent; border-color:rgba(128,131,155,.5); color:#80839b}
[class^="btn-"].outline:hover{border-color:#80839b; color:#80839b}
[class^="btn-"].disabled,
[class^="btn-"]:disabled{background:#80839b !important; border-color:#80839b !important; color:#c2c4d8; cursor:default;}
[class^="btn-"].outline.disabled,
[class^="btn-"].outline:disabled{background:transparent !important; border-color:rgba(128,131,155,.5) !important; color:rgba(128,131,155,.5); cursor:default;}
[class^="btn-"].red{background:#ff365b; border:1px solid #ff365b;}
[class^="btn-"].red:hover{background:#ff0331; border-color:#ff0331;}
[class^="btn-"].black{background:#292a34; border:1px solid #292a34; color:#80839b}
[class^="btn-"].black:hover{background:#292a34; border-color:#292a34;}
[class^="btn-"].black [class^="ico-"]{background-position-y:0;}
[class^="btn-"] [class^="ico-"]{margin: -4px 4px 0 0;}
[class^="btn-"] [class^="ico-24"]{margin-left:-4px; background-position-y:-24px; margin-top:-3px;}
[class^="btn-"] [class^="ico-18"]{margin-left:-3px;}
[class^="btn-"].ico{padding:0 8px}
[class^="btn-"].ico [class^="ico-"]{margin-right:0; margin-left:-2px}
.btn-l{height:48px; line-height:47px; padding:0 40px; font-size:16px;}
.btn-s{height:32px; line-height:30px; padding:0 20px; font-size:13px; font-weight:normal;}
.btnIco-24{width:24px; height:24px; line-height:24px; background:transparent; overflow:hidden;}
.btnIco-32{width:32px; height:32px; line-height:32px; background:transparent; overflow:hidden;}
.btnIco-24 [class^="ico-"]{margin:-3px 0 0 0}
.btnIco-24.hover:hover [class^="ico-"],
.btnIco-24.active [class^="ico-"]{background-position-y:-24px;}
.btn-sti{height:32px; line-height:32px; padding:0 0 0 42px; background-color: transparent !important; font-weight: normal; color:#80839b; font-size:13px; border:0; position: relative;}
.btn-sti:before{position:absolute; content: ''; width:32px; height:32px; display:block; left:0; top:0; border-radius: 4px; background-color: #292a34;}
.btn-sti:after{position:absolute; content: ''; width:18px; height:18px; display:block; left:7px; top:7px; background:url(../images/common/ico_18.png) no-repeat -54px 0;}
.btn-sti.active:before{background-color:#007aff;}
.btn-sti.active:after{background-position:-72px -18px}
.btn-st{height:20px; line-height:20px; padding:0 20px; background-color: transparent !important; font-weight: 600; color:#007aff; font-size:13px; border:0; position: relative;}
.btn-st.gray{color:#80839b}
.btn-st:hover{text-decoration: underline; color:#007aff;}
.btn-st.gray:hover{color:#80839b}
.btn-st [class ^= "ico-18"]{margin-top:-3px;}
.btn-sst{height:24px; line-height:24px; padding:0 0 0 0; background-color: transparent !important; font-weight: normal; color:#80839b; font-size:13px; border:0; position: relative;}
.btn-sst:hover{text-decoration: underline;}
.btn-sst.blue{color:#007aff}
.btn-sq{font-size:13px; font-weight: normal; padding:0 14px; border-radius: 0; height:64px; line-height:64px;}
.btn-sti:hover,
.btn-st:hover,
.btn-sst:hover{border:0}

.btn-sq:not(.black) [class^="ico-24"]{background-position-y:-24px;}

.btnToggle{width:32px; height:32px; background:#292a34; border-radius: 4px;}
.btnToggle.s40{min-width:40px; height:40px;}
.btnToggle [class^="ico-"]{margin:0}
.btnToggle.active{background-color: #007aff;}
.btnToggle.active [class^="ico-"]{transform: rotate(180deg); background-position-y: -18px;}


.swich{display: inline-block; vertical-align: middle;}
* + .swich{margin-left:4px}
.swich > * + *{margin-left:4px}

.btnUtil{position:relative; z-index:2}
.circle-num{width:32px; height:32px; line-height:32px; text-align:center; border-radius:100%; display:inline-block; background-color:#292a34; color:#80839b;}

.snackbar{}
.snackbar__box{position:absolute; right:0; top:50px; width:370px; background-color: #000; border-radius: 4px; height:54px; line-height:54px; box-shadow:0 4px 8px rgba(0, 0, 0, 0.5); z-index: 3; display:none;}
.snackbar:hover .snackbar__box{display:block;}
.snackbar__box:before{content:''; top:-10px; left:0; right:0; height:10px; display:block; position:absolute;}
.snackbar__box:after{content:'';width: 0; height: 0; border-left: 4px solid transparent;border-right: 4px solid transparent;border-bottom: 6px solid black; display:block; position: absolute; top:-6px; right:11px;}
.snackbar__box-msg{font-size:13px; padding-left:15px;}
.snackbar__box-btn{position:absolute; right:0; top:0; background-color: transparent; width:56px; height:54px; color:#007aff; font-size:13px; font-weight: bold;}

/* label */
.label{height:30px; line-height:30px; padding:0 20px; vertical-align:middle; display:inline-block; background-color:#007aff; border-radius:4px; min-width:72px; text-align:center;box-sizing: border-box;}
.alerts{font-size:13px; color:#80839b;}
.alerts [class ^= "ico-"]{margin-right:6px}
.unit{color:#80839b;}

/**** input ****/
/* 달력 피커 */
.input-picker{border:1px solid #292a34; background:#292a34; display:inline-block;box-sizing:border-box; vertical-align: middle; border-radius: 4px; height:40px;}
.input-picker > input{height:30px; border:0; background-color: transparent; box-sizing:border-box; margin-left:-1px;outline:0; color:#fff; padding-left:12px; height:40px; width:128px;}
.input-picker > input::placeholder{color:#80839b}
.input-picker > button:hover,
.input-picker > button{height:40px; width:40px; border:0; background-color: transparent;}
.ui-icon-calendar{width:24px; height:24px; background:url(../images/common/ico_24.png) no-repeat -336px 0 !important; margin-top:-5px !important; margin-left:-10px !important; top:auto !important;}
.ui-datepicker.ui-widget.ui-widget-content{border-radius:0 0 4px 4px;background: #292a34;border-color: #007aff;padding: 20px; z-index: 100 !important; width:350px; margin-top:-2px;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{width:32px; height:32px;}
.ui-datepicker .ui-datepicker-prev{left:2px !important; top:-1px !important;}
.ui-datepicker .ui-datepicker-next{right:2px !important; top:-1px !important;}
.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover{background-color:rgba(128, 131, 155, 0.1); border-color:rgba(128, 131, 155, 0.1);}
.ui-datepicker .ui-datepicker-prev span{width:18px; height:18px; background:url(../images/common/ico_18.png) no-repeat -90px 0}
.ui-datepicker .ui-datepicker-next span{width:18px; height:18px; background:url(../images/common/ico_18.png) no-repeat -108px 0}
.ui-datepicker td a{color:#fff !important; border-radius: 4px;}
.ui-datepicker td > a.ui-state-active{background-color: #407cf8 !important;}
.ui-datepicker td > a:hover{background-color: #407cf8;}
.ui-datepicker td > .ui-state-default{color:rgba(255,255,255,.4)}
.ui-datepicker td{padding: 0;}
.ui-datepicker td > .ui-state-default{width:44px;}
.ui-datepicker .ui-datepicker-title{font-size:16px;}
.datetimepicker ~ .ui-datepicker-trigger .ui-icon-calendar{background-position:-504px 0 !important;}
.input-picker.time{position:relative}
.input-picker.time:before{content:'Start'; position:absolute; left:12px; top:50%; transform:translateY(-50%); font-size:13px; color:#80839b; font-weight:bold;}
.input-picker.time > input{padding-left:53px; width:169px;}
.input-picker.time.end:before{content:'End';}
.input-picker.active{border:1px solid #007aff; border-radius:4px 4px 0 0}
.ui-datepicker .ui-datepicker-buttonpane{border:0}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{display:none;}
.ui-datepicker .ui-datepicker-buttonpane button{margin: 0;width: 100%;box-sizing: border-box;background-color: #007aff;border-radius: 4px;font-size: 14px;margin-top: 10px;}
.ui-timepicker-select{outline:0; width: 141px; text-align:-moz-center;text-align:-webkit-center;text-align-last: center;}

/* 검색 */
.input-search{ display:inline-block;box-sizing:border-box; vertical-align: middle;  width:400px; position:relative;}
.input-search > input{border:1px solid #007aff; background:#292a34;height:40px;border-radius:4px; width:100%; padding-right:60px; box-sizing: border-box; outline: 0; padding-left:12px; color:#fff;}
.input-search > input.result{border-radius:4px 4px 0 0}
.input-search > input.result:placeholder-shown{border-radius: 4px;}
.input-search > input:placeholder-shown{border-color: #292a34;}
.input-search > input::placeholder{color:#80839b;}
.input-search > input:placeholder-shown ~ .input-search__clear{display:none;}
.input-search .input-search__button{position: absolute; right:0; top:0; height:40px; width:40px; background-color: transparent; }
.input-search .input-search__clear{position: absolute; right:38px; top:50%; transform:translateY(-50%); height:18px; width:18px; background-color: transparent; display:block; overflow:hidden}
.input-search .input-search__clear [class ^="ico-18"]{border-radius:100%;}
.input-search .input-search__clear:hover [class ^="ico-18"]{background-color:#1c1e27}

.input-search > input:placeholder-shown ~ .input-search__result{display:none;}
.input-search .input-search__result{position: absolute;top: 39px;left: 0;right: 0;z-index: 3; border:1px solid #007aff; border-radius: 0 0 4px 4px;}
.input-search .input-search__result .noresult{height: 77px;}
.input-search .input-search__result .noresult__msg:before{display: none;;}

/* input */
.input-text{ display:inline-block;box-sizing:border-box; vertical-align: middle;  min-width:150px; position:relative;}
.input-text > input{border:1px solid #292a34; background:#292a34;height:40px;border-radius:4px; width:100%; padding-right:30px; box-sizing: border-box; outline: 0; padding-left:12px; color:#fff;}
.input-text > input:focus{border:1px solid #007aff !important; }
/* .input-text > input:placeholder-shown{border-color: #292a34;} */
.input-text > input::placeholder{color:#80839b;}
.input-text > input:placeholder-shown ~ .input-text__clear{display:none;}
.input-text > input[disabled]{border:0; color:#5f627b;}
.input-text > input[disabled] ~ .input-text__clear{display: none;}
.input-text.error > input{border:1px solid #ff365b !important;}
.input-text .input-text__clear{position: absolute; right:12px; top:50%; transform:translateY(-50%); height:18px; width:18px; background-color: transparent; display:block; overflow:hidden}
.input-text .input-text__clear [class ^="ico-18"]{border-radius:100%;}
.input-text .input-text__clear:hover [class ^="ico-18"]{background-color:#1c1e27}
.input-text .page{position: absolute;right: 12px;top: 50%;transform: translateY(-50%);}
.input-text.first > input{border-radius: 4px 4px 0 0;}
.input-text.last > input{border-radius: 0 0 4px 4px;}
.input-text.middle > input{border-radius: 0}

/* input-file */
.input-file{position:relative;}
.input-file__name {display: block;height: 40px;padding: 0 67px 0 10px;vertical-align: middle;border: 1px solid #292a34;background-color:#292a34;border-radius:4px;color: #fff;;width: 100%;box-sizing:border-box; outline:0}
.input-file__name::placeholder{color: #80839b;}
.input-file__label {display: block;cursor: pointer;height: 40px; width:40px;position: absolute;right: 0;top:0;}
.input-file__label:before{content:''; display: block; width:24px; height:24px; text-align:center; background:url(../images/common/ico_24.png) no-repeat -528px -24px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)}
.input-file__input {position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;}
.input-file__name:placeholder-shown ~ .input-file__clear{display:none;}
.input-file__clear{position: absolute; right:42px; top:50%; transform:translateY(-50%); height:18px; width:18px; background-color: transparent; display:block; overflow:hidden}
.input-file__clear [class ^="ico-18"]{border-radius:100%;}
.input-file__clear:hover [class ^="ico-18"]{background-color:#1c1e27}

/* textarea */
.textarea{border:1px solid #292a34; background:#292a34;min-height:60px;border-radius:4px; width:100%; padding-right:30px; box-sizing: border-box; outline: 0; padding-left:12px; color:#fff; font-size:13px; padding:12px; resize: none;}
.textarea:focus{border:1px solid #007aff !important; }
/* .textarea:placeholder-shown{border-color: #292a34;} */
.textarea::placeholder{color:#80839b;}
.textarea.error{border:1px solid #ff365b;}
.textarea[disabled]{border:0; color:#5f627b;}



/* tabbutton */
.ui-tabbutton .ui-selecting { background: #FECA40; }
.ui-tabbutton .ui-selected { background: #F39814; color: white; }
/* .ui-tabbutton {display: flex; overflow: hidden; } */
.ui-tabbutton{display:inline-block}
.ui-tabbutton:after{content:''; display:block; clear:both;}
.ui-tabbutton li {padding: 0 20px;height: 40px;line-height: 40px;font-weight: bold;color: #80839b;background-color: #292a34;border: 0;font-size: 14px; cursor: pointer; float:left;}
.ui-tabbutton li:first-child{border-radius: 4px 0 0 4px;}
.ui-tabbutton li:last-child{border-radius: 0 4px 4px 0;}
.ui-tabbutton li.ui-selected{background-color:#007aff; color:#fff;}
.ui-tabbutton li.ui-selecting{background-color:#0067d5; color:#fff;}
.ui-tabbutton li:hover{background-color: #007aff;color: #fff;}
.ui-tabbutton li + li{margin-left:-1px;}

/* dropdown */
.ui-dropdown ~ .ui-selectmenu-button{background-color: #292a34; border-color:#292a34; border-radius: 4px;height: 40px;padding:12px 10px 0 12px;box-sizing: border-box; width:auto; min-width:180px;}
.ui-dropdown ~ .ui-selectmenu-button .ui-selectmenu-text{font-size:13px; color:#fff; font-weight: normal;}
.ui-dropdown ~ .ui-selectmenu-button .ui-selectmenu-icon{width:18px; height:18px; background:url(../images/common/ico_18.png)no-repeat -54px 0; margin-top:-1px}
.ui-dropdown ~ .ui-selectmenu-button.ui-selectmenu-button-open{border:1px solid #007aff; border-radius:4px 4px 0 0;}
.ui-dropdown ~ .ui-selectmenu-button.ui-selectmenu-button-open  .ui-selectmenu-icon{background-position: -72px 0;}
.ui-selectmenu-open{margin-top: -1px;border-radius: 0 0 4px 4px;border:1px solid #007aff; border-top:0; background-color: #292A34;max-height: 206px;overflow: hidden;}
/* .ui-selectmenu-menu .ui-menu{margin: -1px -1px 0;padding:10px 0; border:0; background-color:transparent; overflow:hidden} */
.ui-selectmenu-menu .ui-menu{margin: 0 -1px;padding:0; border:0; background-color:transparent; overflow:hidden}
.ui-menu .ui-menu-item-wrapper{padding:9px 15px 8px 15px;font-size:13px; box-sizing: border-box; margin:0}

.ui-dropdown.sort ~ .ui-selectmenu-button{border:0; background-color:transparent; min-width:73px; padding-left:0; padding-right:0; margin-left:7px;}
.ui-dropdown.sort ~ .ui-selectmenu-button + label{margin-left:17px}
.ui-dropdown.sort ~ .ui-selectmenu-button .ui-selectmenu-text{margin-right:30px; font-weight: bold;}
.ui-selectmenu-open.sort{border:0; border-radius: 4px;max-height: 196px;}
.ui-selectmenu-open.sort .ui-menu{padding:0 !important;}
.ui-selectmenu-open.sort .ui-state-active{background-color:transparent !important; border-color: transparent; color:#007aff}

.ui-dropdown.select ~ .ui-selectmenu-button{background-color: #292a34; border-color:#292a34; border-radius: 4px;height: 40px;padding:12px 10px 0 12px;box-sizing: border-box; width:auto; min-width:180px; margin-right:0;}
.ui-dropdown.select ~ .ui-selectmenu-button + label{margin-left:17px}
.ui-dropdown.select ~ .ui-selectmenu-button .ui-selectmenu-text{margin-right:30px; font-weight: bold;}
.ui-selectmenu-open.select{border-color:#292a34; border-radius: 4px;max-height: 196px; background-color: #292a34; border-radius:0 0 4px 4px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);}
.ui-selectmenu-open.select .ui-menu{padding:0 !important;}
.ui-selectmenu-open.select .ui-state-active{background-color:transparent !important; border-color: transparent; color:#007aff}
.ui-dropdown.select ~ .ui-selectmenu-button.ui-selectmenu-button-open{border-radius:4px 4px 0 0 !important}

/* .ui-selectmenu-menu .ui-menu .ui-menu-item-wrapper:hover{background-color: #292a34;} */
.ui-selectmenu-menu .ui-menu .ui.custom-combobox-input-menu-item-wrapper:hover{background-color: #007aff;}
.ui-dropdown.w100p + .ui-selectmenu-button{width:auto !important; display:block;}
.ui-menu-item-wrapper.ui-state-active{background: #007aff;}

.ui.search.dropdown{height: 40px; min-height:40px;background: #262731; min-width:180px; box-sizing:border-box; }
.ui.search.dropdown > .text{color:#fff; font-size:13px;margin-top:0px; top:-2px; left:-4px}
.ui.dropdown:not(.button) > .default.text,
.ui.selection.visible.dropdown > .text:not(.default){color:#81839b;}
.ui.search.selection.dropdown > input.search{padding-left:11px; left:0; color:#fff;height:40px;box-sizing: border-box;}

.ui.selection.dropdown{border-color:transparent !important;}
.ui.selection.active.dropdown{border-color:#007aff !important;}
.ui.selection.dropdown > .dropdown.icon{padding-right:7px; height:40px; box-sizing: border-box;}
.ui.selection.dropdown > .dropdown.icon:before{content:'';background: url(../images/common/ico_18.png)no-repeat -54px 0 !important;width: 18px;height: 18px; display:inline-block;}
.ui.selection.dropdown .menu{background-color: #292A34; border:1px solid #007aff !important; max-height:206px; box-sizing: border-box;}
.ui.selection.dropdown .menu > .item{border:0;color: #fff;font-size: 13px;font-weight: normal; padding:12px 12px !important}
.ui.dropdown .menu > .item:hover{background-color:#007aff;}
.ui.selection.dropdown.active > .dropdown.icon:before{transform:rotate(180deg)}
.ui.dropdown .menu > .message{color: #fff !important;font-size: 13px !important; padding: 20px 12px !important;}
/* .ui.selection.dropdown .menu > .item:hover{border-color:#007aff;} */

.custom-combobox{display:inline-block;background-color: #292a34;border-color: #292a34;border-radius: 4px;height: 40px;padding: 12px 10px 0 12px;box-sizing: border-box;width: auto;min-width: 180px;position:relative;}
.custom-combobox-input{position: absolute;left: 0px;right: 0px; outline:0; padding: 0 30px 0 12px !important; height:40px; top:0;}
.custom-combobox-toggle{width: 18px;height: 18px;background: url(../images/common/ico_18.png)no-repeat -54px 0;margin-top: -1px;display: block;border: 0;position: absolute;right: 10px;padding: 0;}
.custom-combobox-toggle > span{display: none;}
.ui-autocomplete{margin-top: -1px;border-radius: 0 0 4px 4px !important;border: 1px solid #007aff !important;border-top: 0;background-color: #414354 !important;max-height: 206px;overflow: hidden;}


/* pagenation */
.pagenation{display:flex; justify-content: right; align-items: center; margin-top:20px; }
.pagenation__label{font-size:13px;color:#80839b; margin-right:6px;}
.pagenation__count{font-size:13px; margin-right:10px;}
.pagenation__form{}
.pagenation__form-btn{height:30px; width:30px; background-color:transparent; border: solid 1px #292a34; border-radius: 4px; box-sizing: border-box; vertical-align: middle;}
.pagenation__form-btn > span{margin:0}
.pagenation__form-btn:disabled{}
.pagenation__form-btn:disabled [class ^= "ico-"]{opacity: .35;filter: alpha(opacity=35);}
.pagenation__form-input{box-sizing: border-box; height:30px; width:70px; background:#292a34; border:0; vertical-align: middle; border-radius: 4px; text-align: right; padding:0 12px; color:#fff;}
.pagenation__form-input::-webkit-outer-spin-button,
.pagenation__form-input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.pagenation__form-input[type=number] {-moz-appearance: textfield;}/* Firefox */
.pagenation__form-txt{font-size:13px;}
.pagenation__form-btn + .pagenation__form-input{margin-left:6px; text-align: center;}
.pagenation__form-txt + .pagenation__form-btn{margin-left:6px;}

/* filterChipsWrap */
.chips{position:relative; display:inline-block; line-height:32px; height:32px; padding: 0 36px 0 12px; background-color:#292a34; font-size:12px; border-radius:4px; margin:0 6px 10px 0}
.chips__del{position:absolute; width:18px; height:18px; right:7px; top:50%; transform: translateY(-50%); background: url(../images/common/ico_18.png) no-repeat -144px 0;}
.chips__del:hover{background-position-y: -18px;}
.chips.model{height:32px; line-height:32px; background-color:#007aff; color:#fff;}
.chips.model .chips__del{background-position:-144px -18px;}

.filterChipsWrap{position:relative; margin-top:10px; min-height:32px; padding-right:110px; margin-bottom:30px;}
.filterChipsWrap:after{content:''; clear:both; display:block;}
.filterChipsWrap .alerts{line-height:32px; height:32px;}
.filterChipsWrap__list{white-space: nowrap; overflow-x:auto; overflow-y:hidden; position:absolute; left:0; top:0; right:0; height:32px; background-color: #1c1e27;}
.filterChipsWrap__btn{position:absolute; right:0; top:0; }
.filterChipsWrap.active{margin-bottom:20px}
.filterChipsWrap.active .filterChipsWrap__list{white-space:normal; position: static; height:auto;}
.filterChipsWrap.active .mCSB_container{margin:0;}
.filterChipsWrap__btn [class ^= "btn-"]{height:32px; line-height:32px;}
/* .filterChipsWrap.ui-analysis .filterChipsWrap__list{right:0;} */
.filterChipsWrap.ui-binary{background-color: #292a34; padding-right:0;height:100px;}
.filterChipsWrap.ui-binary .filterChipsWrap__list{background-color:transparent; height:100%}
.filterChipsWrap.ui-binary .filterChipsWrap__list.mCustomScrollbar:before{display:none;}
.filterChipsWrap.ui-binary .chips{display:block; padding:3px 12px 3px 32px; margin:0; word-break: break-all; line-height:1.4; height:auto; white-space: normal;}
.filterChipsWrap.ui-binary .chips__del{right:auto; left:12px;}
.filterChipsWrap.ui-binary .mCSB_horizontal.mCSB_outside > .mCSB_container{width:100% !important;}
.filterChipsWrap.ui-binary .mCSB_container{padding:8px 0;}
.filterChipsWrap.ui-binary .alerts{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}

/* modelChipsWrap */
.modelChipsWrap{position:relative; height:64px; background-color:#292a34; margin-bottom:20px;}
.modelChipsWrap__label{position:absolute; left:20px; top:50%; transform:translateY(-50%); color:#80839b; font-size:14px;}
.modelChipsWrap__list{position:absolute; left:160px; right:186px; top:50%; transform:translateY(-50%); height:32px; overflow-y:hidden; overflow-x:auto; white-space: nowrap;}
.modelChipsWrap__list:before {content: '';position: absolute;right: 0;top: 0;bottom: 0;width: 20px;background-image: linear-gradient(to right, rgba(28, 30, 39, 0) , #292a34);z-index: 2;pointer-events: none;}
.modelChipsWrap__btn{position:absolute; right:20px; top:50%; transform:translateY(-50%); display:flex; align-items: center;}
.modelChipsWrap__btn > * + *{margin-left:10px;}

.modelChipsWrap.ui-analysis .modelChipsWrap__btn{position:absolute; right:0px; padding-right:10px;}
.modelChipsWrap.ui-analysis .modelChipsWrap__list{left:90px; right:450px;}

.modelChipsWrap.ui-devices .modelChipsWrap__btn{position:absolute; right:0px; padding-right:20px;}
.modelChipsWrap.ui-devices .modelChipsWrap__list{left:160px; right:100px;}

.modelChipsWrap.ui-deploy .modelChipsWrap__list{left: 160px; right: 225px;}

/* tab */
.ui-tabs{background:transparent !important; border-radius:0 !important;}
.ui-tabs .ui-tabs-nav{background: transparent;border: 0;border-radius: 0; border-bottom:1px solid #292a34; padding:0;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{background-color:#292a34;}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{padding:0; line-height:40px; height:40px; padding:0 20px; font-weight:bold; color:#80839b; font-size:14px;}
.ui-tabs .ui-tabs-nav li{margin:0; height:40px; line-height:40px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{margin-bottom: 0px;padding-bottom: 0px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor{color:#fff; cursor:default;}
.ui-tabs__util{position: absolute;right: 0;top: -41px;}
.ui-tabs__util:after{content:''; display:block; clear:both;}
.ui-tabs__util > *{float:left;}
.ui-tabs__util > * + *{margin-left:10px;}
.ui-tabs .ui-tabs-nav li.ui-state-disabled{opacity:.5}

/* jqgrid */
.ui-jqgrid{border: 0 !important; width:100% !important}
.ui-jqgrid .ui-jqgrid-hdiv{height:38px; line-height:38px; width:100% !important; overflow: hidden;}
.ui-jqgrid .ui-jqgrid-htable th{height:38px; padding:0}
.ui-jqgrid .ui-jqgrid-htable th div{height:38px; line-height:38px; color:#80839b; font-size:14px; font-weight: bold;}
.ui-jqgrid .ui-jqgrid-htable th div > .s-ico{position: relative;top: 6px; display:inline !important;}
.ui-jqgrid .ui-icon-asc,
.ui-jqgrid .ui-icon-desc{margin-left:2px;    opacity: 1;}
.ui-jqgrid .ui-icon-asc{margin-top: 4px; background:url(../images/common/ico_table_sortable_up_on.png) no-repeat center center}
.ui-jqgrid .ui-icon-desc{margin-top: 10px; background:url(../images/common/ico_table_sortable_down_on.png) no-repeat center center}
.ui-jqgrid .ui-icon-asc.ui-state-disabled{background-image:url(../images/common/ico_table_sortable_up.png)}
.ui-jqgrid .ui-icon-desc.ui-state-disabled{background-image:url(../images/common/ico_table_sortable_down.png)}
.ui-jqgrid tr.jqgrow{background-color: #292a34; border:0 !important;}
.ui-jqgrid tr.jqgrow.ui-state-hover{background-color: #163052;}
.ui-jqgrid tr.jqgrow.ui-state-highlight{border-color:transparent;background-color: #163052;}
.ui-jqgrid tr.jqgrow.ui-state-highlight td{background-color: #163052;}
.ui-jqgrid tr.ui-row-ltr td{border-color: transparent;}
.ui-jqgrid tr.jqgrow td{height:20px; line-height:20px; padding:8px 5px; font-size:13px; white-space: normal; word-break: break-all; vertical-align:middle; border:0px !important; border-bottom:1px solid #1c1e27 !important; background-color: #292a34;}/*27페이지와 확인*/
.ui-jqgrid tr.jqgrow td > .ui-grid-checkbox ~ label{margin-left:-3px;}
.ui-jqgrid tr.jqgfirstrow td{border-color: transparent;}
.ui-jqgrid .ui-jqgrid-hbox{padding-right: 0; width:100%;}
.ui-jqgrid .noresult{position:absolute; left:0; top:0; right:0; bottom:0; background-color: #292a34; height:auto;}
.ui-jqgrid .noresult__msg{font-size:16px; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%)}
.ui-jqgrid .noresult__msg:before{content:''; display: block; margin:0 auto 6px; width:40px; height:40px; background: url(../images/common/ico_noresult.png) no-repeat;}
.ui-jqgrid .ui-jqgrid-btable,
.ui-jqgrid .ui-jqgrid-htable,
.ui-jqgrid .ui-jqgrid-bdiv,
.ui-jqgrid .ui-jqgrid-view,
.ui-jqgrid .ui-jqgrid-btable{width:100% !important;}
/*.ui-jqgrid .ui-jqgrid-htable{width:calc(100% - 9px) !important;} */
/* .listthumb{margin:0 -10px; height:40px;}
.listthumb > img{} */
/* .ui-jqgrid .ui-jqgrid-btable,
.ui-jqgrid .ui-jqgrid-htable{table-layout: auto;} */
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr{vertical-align: middle; padding:0 1px;}
.ui-jqgrid .ui-jqgrid-resize-ltr{display: none;}
.ui-jqgrid .ui-jqgrid-htable th div .cbox.ui-grid-checkbox + .s-ico{display:none !important;}



/* dialog */
.ui-dialog.ui-widget.ui-widget-content{background-color:#1c1e27; border-top: 4px solid #007aff; /*top:50% !important; transform: translateY(-50%);*/}
.ui-widget-overlay{background:#000; opacity:.7}
.ui-dialog .ui-dialog-titlebar{background:transparent; border:0; padding:25px 0 0 30px;}
.ui-dialog .ui-dialog-title{font-size:24px; margin:0; font-weight:500;}
.ui-dialog .ui-resizable-n{background:#007aff; height:4px;}
.ui-dialog .ui-dialog-titlebar-close{border: 0;width: 24px;height: 24px;border-radius: 0;margin: 0;top: 28px;right: 20px;padding: 0; background-color:transparent}
.ui-dialog .ui-dialog-titlebar-close .ui-icon-closethick{width:24px; height:24px; background:url(../images/common/ico_24.png) no-repeat -360px 0; top: -2px;left: 0;margin: 0;}
.ui-dialog .ui-dialog-titlebar-close:hover .ui-icon-closethick{background-position-y:-24px;}
.ui-dialog .ui-dialog-content{padding:30px; height:auto !important;}
.ui-dialog .ui-dialog-buttonpane{background-color: transparent;border: 0;margin-top: 0;padding: 0 0 30px ;text-align: center;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:none;}
.ui-dialog .ui-dialog-buttonpane button{margin:0 5px;}
.dialog{display: none;}
.ui-dialog[class *= "popup-step"]{border-color:transparent !important;}
.ui-dialog[class *= "popup-step"]:before{content:''; position:absolute; top:-4px; left:0; width:33.3%; height:4px; background-color:#ff365b;}
.ui-dialog.popup-step2:before{width:66.6%;}
.ui-dialog.popup-step3:before{width:100%;}
.ui-dialog.popup-findMember{border-color:transparent !important;}

/* scroll */
.mCustomScrollBox.mCS-minimal + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal{margin: 0 5px;}
.mCSB_scrollTools.mCSB_scrollTools_horizontal{height:12px}

.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{margin: 5px 0;}
.mCSB_scrollTools{width:12px}
.mCustomScrollbar{}
.filterChipsWrap__list.mCustomScrollbar:before{content:''; position:absolute; right:0; top:0; bottom:0; width:20px; background-image: linear-gradient(to right, rgba(28, 30, 39, 0) , #1c1e27); z-index: 2; pointer-events: none;}

/* ui-tooltip */
.ui-tooltip-wrap{position:relative; cursor:default; display:inline-block;}
.ui-tooltip-wrap:hover .ui-tooltip{display:block;opacity:1;}
.ui-tooltip{position:absolute; max-width:300px; bottom:-2px; left:50%; transform:translate(-50%, 100%); background-color:#000; border-radius:4px; white-space:nowrap; pointer-events: none; opacity:0; transition:opacity .3s; font-size:12px; padding:4px 8px;}


.ui-checkboxradio-label{padding: 0;background-color: transparent;border: 0; color:#80839b}
.ui-checkboxradio-icon{width:18px !important; height:18px !important; background: url(../images/common/ico_form.png) no-repeat 0 0 !important;  box-shadow:none !important; border-radius: 0 !important;}
.ui-checkboxradio-icon.ui-state-checked{background-position: 0 -20px !important;}
.ui-checkboxradio-radio-label .ui-checkboxradio-icon{background-position: -20px 0px !important;}
.ui-checkboxradio-checked.ui-checkboxradio-radio-label .ui-checkboxradio-icon{background-position: -20px -20px !important;}
.ui-checkboxradio-icon-space{display:inline-block; width:4px;}
input + .ui-checkboxradio-label{margin-left:10px;}

.ui-checkboxradio-label.round{height:32px; line-height:32px; padding:0 38px 0 12px; /*background-color: #007aff;*/ border-radius: 16px; color:#fff; border:1px solid rgba(255,255,255,.25)}
.ui-checkboxradio-label.round.ui-checkboxradio-checked{background-color: #007aff; border-color:#007aff;}
.ui-checkboxradio-label.round .ui-checkboxradio-icon{background: none !important; position:absolute; right:12px; top:50%; transform:translateY(-50%); margin:0 !important; background: url(../images/content/ico_choice.png) no-repeat center center !important; opacity:.25}
.ui-checkboxradio-label.round .ui-checkboxradio-icon.ui-state-checked{opacity:1}

input.round + .ui-checkboxradio-label.round{margin-left:4px}

.ui-grid-checkbox{}
.ui-grid-checkbox ~ label {
    display: inline-block;
	vertical-align:middle;
    width: 18px;
    height: 18px;
    background: url(../images/common/ico_form.png) no-repeat 0 0 !important;
}

.ui-grid-checkbox:checked ~ label {
    background-position: 0 -20px !important;
}

.ui-grid-checkbox {
    position: absolute;
    width: 18px;
    height: 18px;
    opacity: 0;
}

/* 토글 스위치 */
.ui-toggleSwitch + label {
    width: 45px;
    height: 20px;
    display: inline-block;
    position: relative;
    border-radius: 30px;
    background-color: #5f627b;
    box-shadow: 0 0 16px 3px rgb(0 0 0 / 15%);
    cursor: pointer;
}

.ui-toggleSwitch + label:after{
	content:'';
	display:block;
	width: 14px;
    height: 14px;
	position: absolute;
	top: 50%;
	left: 3px;
	transform: translateY(-50%);
	border-radius: 50%;
	background: #fff;
}
.ui-toggleSwitch + label:before{
	content:'OFF';
	color:#fff;
	font-size:7px;
	top:50%;
	transform: translateY(-50%);
	right: 7px;
    position: absolute;
	transition: all 0.1s ease-in;
}
.ui-toggleSwitch:checked + label:before{
	content:'ON';
	right: auto;
	left:7px;
	color:#fff;
}

.ui-toggleSwitch:checked + label {
	background-image: linear-gradient(to right, #007bff 0%, #01d3d6 100%);
}

.ui-toggleSwitch:checked + label:after {
	left: calc(100% - 17px);
	background: #fff;
}

.ui-toggleSwitch + label, .ui-toggleSwitch + label:after {
	transition: all 0.1s ease-in;
}

.ui-toggleSwitch[disabled] + label{
	cursor:default;
}
.ui-toggleSwitch[disabled] + label:before{
	color:#80839b;
}
.ui-toggleSwitch[disabled] + label:after{
	background-color:#80839b;
}



/**** content ****/
/* listCtrl */
.listCtrl{display:flex; justify-content:space-between;}
.listCtrl + .listCtrl{margin-top:10px}
.listCtrl__item{display: flex; align-items: center; position: relative;}

/* table */
.listTable{}
.listTable .mCSB_container > table,
.listTable > table{width: 100%;position: relative; table-layout: fixed;}
table caption{position: absolute;width:0px;height: 0px;overflow: hidden;}
.listTable > table thead th{background-color: #1c1e27;text-align: center; font-size:14px; font-weight: bold; }
.listTable > table th,
.listTable > table td{height: 25px; line-height:22px;vertical-align: middle;border-bottom: 1px solid #1c1e27;padding: 7px 5px;text-align:center;}
.listTable > table th{height:20px;color:#80839b;}
.listTable > table td{background:#292a34; font-size:13px; word-wrap: break-word;}
.listTable > table td > *{vertical-align:middle;}
.listTable > table tr:hover > td{background-color: #163052;}
.listTable.bg-black table td{background-color: transparent; padding-top:5px; padding-bottom:5px; vertical-align:center;}
.listTable.bg-black table tr:hover > td{background-color: transparent;}

thead.thead-hidden{position: absolute;width:0;height: 0;overflow: hidden;}
.listTable > table thead th.sortable{cursor:pointer;-webkit-touch-callout: none; /* iOS Safari */-webkit-user-select: none; /* Safari */-ms-user-select: none; /* 인터넷익스플로러 */user-select: none; padding-left:0; padding-right:0;}
.listTable > table thead th.sortable:hover{background-color:#22232a;}
.listTable > table thead th.sortable:after{content:'';display:inline-block;vertical-align:middle;width:8px;height:12px;background:url(../images/common/ico_table_sortable.png) no-repeat 0 0;margin:-2px 0 0 4px;}
.listTable > table thead th.sortable.up:after{background-position:0 -12px}
.listTable > table thead th.sortable.down:after{background-position:0 -24px}

.listTable.transform > table td{padding-top:15px; padding-bottom:15px;}
.listTable.transform > table td.transform__label{padding-left:20px; text-align:left}
.listTable.transform > table td.transform__content{text-align:left;}
.listTable.transform > table td.transform__content > strong{}
.listTable.transform > table td.transform__content > p{color:#80839b; margin-top:4px;}
.listTable.transform > table td.transform__info{}
.iconInfo{display:flex; align-items:center; justify-content:flex-end;}
.iconInfo > li{}
.iconInfo > li + li{margin-left:20px;}
.transform__info-count{font-size:12px; color:#c2c4d8;}
.listTable.transform > table td.transform__menu{text-align:right;}

.listTable.transform.card > table > colgroup{display:none;}
.listTable.transform.card > table > tbody{display: flex; flex-wrap: wrap; margin:0 -10px}
.listTable.transform.card > table > tbody > tr{width:calc(25% - 20px); height:189px; background:#292a34; box-sizing:border-box; margin:10px; padding:15px 25px 0; position:relative;position:-webkit-sticky;}
.listTable.transform.card > table > tbody > tr:hover{background-color:#163052}
.listTable.transform.card > table > tbody > tr > td{display:block; border:0; padding:0; height:auto}
.listTable.transform.card > table > tbody > tr > td.transform__content{margin:15px 0 0 0}
.listTable.transform.card > table > tbody > tr > td.transform__content > p{overflow: hidden;line-height: 20px;max-height: 60px;}
.listTable.transform.card > table > tbody > tr > td.transform__info{position: absolute;bottom: 15px;}
.listTable.transform.card > table > tbody > tr > td.transform__menu{position: absolute;right: 5px;top: 18px;}
.noresult{display:flex; height:500px; align-items: center; justify-content: center; background-color: #292a34;}
.noresult__msg{font-size:16px;}
.noresult__msg:before{content:''; display: block; margin:0 auto 6px; width:40px; height:40px; background: url(../images/common/ico_noresult.png) no-repeat;}
.listTable .noresult{background-color: transparent;}

tr.detail{display:none;}
.detail > td{height:auto !important;}
.detail .detail__box{display:none; position:relative; padding:20px; text-align:left; border: solid #007aff; border-width:0 1px;  background-color:#1c1e27;}
.detail .detail__box-add{position:absolute; right:84px; top:11px;}
.detail .detail__box-toggle{position:absolute; right:50px; top:16px;}
.detail.active .detail__box-toggle{transform:rotate(180deg)}
.detail.active .detail__box-toggle [class^="ico-"]{margin-top:0}
.detail .detail__box-close{position:absolute; right:16px; top:16px;}

tr.detail.active{display:table-row}
.detail.active > td{border-bottom:1px solid #007aff !important; padding:0}
.active-before > td{border-bottom:1px solid #007aff !important; background-color:#163052 !important;}
.detail .detail__box-tit{font-size:16px; color:#fff; display:block; margin-bottom:17px;}
.detail .ui-grid + .detail__box-tit{margin-top:30px;}
.detail .ui-tabs .ui-tabs-panel{padding:0; position:relative;}

div.detail{margin-bottom:20px}
div.detail .detail__box{display: block; border-width:01px;}
div.detail .detail__box-con{display:none;}
div.detail .detail__box-tit{margin-bottom:0}


/* contextMenu */
.contextMenu{display:inline-block; vertical-align:middle; position:relative;}
.contextMenu.active [class ^= "ico-24"],
.contextMenu__btn:hover{background-position-y:-24px;}
.contextMenu__menu{position:absolute; display:none; right:0px;top:24px; overflow:hidden; /*border-radius:8px;*/ z-index:10; padding:4px 6px 0 0; }
.contextMenu.active .contextMenu__menu{display:block;}
.contextMenu__menu-btn{width:140px; height:37px;background:#414354;text-align:left; padding-left:10px; box-sizing:border-box; font-size:13px; /*padding-top:5px;*/}
.contextMenu__menu > li{margin:-1px 0}
.contextMenu__menu > li:first-child .contextMenu__menu-btn{border-radius: 8px 8px 0 0;}
.contextMenu__menu > li:last-child .contextMenu__menu-btn{border-radius: 0 0 8px 8px;}
.contextMenu__menu-btn:hover{background:#007aff}
.contextMenu__menu-btn:hover [class ^= "ico-24"]{background-position-y:-24px;}
.contextMenu__menu-btn [class ^= "ico-"]{margin-top:-3px; margin-right:4px}
.up .contextMenu__menu{top:0; transform: translateY(-100%); padding:0 6px 4px 0;}

/* total */
.page{display:flex; justify-content:right; align-items: center;}
[class ^= "page__txt"]{color:#80839b;}
.page__txt-white{color:#fff; font-weight:bold;}
.page__line{height:18px; width:1px; background-color:#464754; display:inline-block; margin:0 10px;}

/* dataList */
.dataList{flex-wrap: wrap; display:flex; }
.dataList__li{flex:100%; background-color:#292a34; display:flex; height:40px; line-height:40px; box-sizing:border-box; border-bottom:1px solid #1c1e27; align-items: center;}
.dataList__li:nth-child(even){border-left:1px solid #1c1e27;}
.dataList__li-label{width:200px; box-sizing:border-box; padding-left:20px; color:#80839b}
.dataList__li-data{font-weight:bold; flex:1; position:relative; display:flex; align-items: center;}
.dataList.half .dataList__li{flex:50%}
.dataList.half .dataList__li.flex-100{flex:100%; height:auto; border-left:0;}
.dataList.half .dataList__li.flex-100 .dataList__li-data{width:100px}
.dataList.half .dataList__li.flex-100 .dataList__li-multi{line-height:1; width:calc(100% - 20px); padding:12px 0}
.dataList.half .dataList__li.flex-100 .dataList__li-multi > a{color:#fff; font-weight:normal;}
.dataList.half .dataList__li.flex-100 .dataList__li-multi > a:hover{text-decoration: underline;}
.dataList.half .dataList__li.flex-100 .dataList__li-multi > a + a{margin-top:10px;}
.dataList.half .dataList__li-label{width:150px}
.dataList__li-data .iscroll-hori{position:absolute; left:0; right:10px;}
.dataList__li-data .iscroll-hori .mCSB_container{white-space:nowrap; padding-right:20px;}

.title{display:flex; justify-content:space-between; align-items:center}
.title .title__name{font-weight: bold; font-size:16px;}
.title .title__name.gray{color:#80839b;}
.title h4.title__name{font-size:14px; }

.chart{background:#292a34; padding:49px 15px 15px; height:360px; position:relative; box-sizing:border-box;}
.chart > canvas{width:100% !important; height:calc(100% - 5px) !important;}
.chart__legend{position:absolute; right:24px; top:15px; font-size:12px;}
.chart__legend #legend-wrap{display:flex; align-items:center; justify-content:right; gap:13px}
.chart__legend .chart__legend-dot{display:inline-block; width:14px; height:8px; vertical-align:middle; border-radius:4px; margin:-2px 5px 0 0}
.chart__legend .chart__legend-tit{color:#80839b}
.chart .title{position:absolute; top:20px; left:30px;}

/* 아코디언 */
.ui-accordion .ui-accordion-header{margin:0; border:0; border-radius: 0; border-bottom:1px solid #1c1e27; background-color:#292a34; position:relative; height:40px; line-height: 40px; font-size: 13px; font-weight:bold; padding:0 40px 0 20px; color:#fff;}
.ui-accordion .ui-accordion-header.ui-state-active{border-bottom-color:#007aff; background:#163052;}
.ui-accordion-header-icon.ui-icon{ position:absolute; right:10px; width:18px; height:18px; top:45%;margin:0; transform:translateY(-50%);background:url(../images/common/ico_18.png) no-repeat -162px 0;}
.ui-state-active .ui-accordion-header-icon.ui-icon{background-position:-198px -18px;}
.ui-accordion .ui-accordion-content{background:transparent; border:0; padding:20px}
.ui-accordion .ui-accordion-content.accordion-content-active{border-bottom:1px solid #007aff;overflow:hidden;}
.ui-accordion.accordion-arrow{}
.ui-accordion.accordion-arrow .ui-accordion-header{background-color:transparent; border-bottom:1px solid #292a34; padding-top:8px; padding-left:0; text-align:left;}
.ui-accordion.accordion-arrow .ui-accordion-header-icon.ui-icon{transform: translateY(calc(-50% + 7px)); background-position: -54px -18px;}
.ui-accordion.accordion-arrow .ui-state-active .ui-accordion-header-icon.ui-icon{transform: rotate(180deg);}
.ui-accordion.accordion-arrow .ui-accordion-content{border: 1px solid #007aff;}
/* 라인 */
hr{border: solid #292a34;border-width: 1px 0 0 0;margin-block-start: 0;margin-block-end: 0;}
hr.v-20{margin-left:-20px;right:-20px;}


/* 댓글 */
.comment{}
.comment__count{font-size:13px; color:#80839b; margin-bottom:10px;}
.comment__count > strong{color:#fff;}
.comment__write{ position: relative;height:130px;}
.comment__write > form{height:100%}
.comment__write > fieldset{}
.comment__write > fieldset > legend{}
.comment__write textarea{background-color:transparent; /*border:1px solid #007aff;*/ padding:12px 12px 0; border-radius: 8px;box-sizing: border-box; width:100%; height:calc(100% - 42px); color:#fff;resize: none; font-size:14px;}
/* .comment__write textarea::placeholder{color:#80839b}
.comment__write textarea:placeholder-shown{border-color: #292a34;}
.comment__write textarea:focus{border:1px solid #007aff !important; } */
.comment__write textarea:placeholder-shown ~ .input-text__clear{display:none;}
.comment__write-btn{position: absolute;bottom: 0;right: 0;left: 0;text-align: right;padding: 0 10px 10px}
.comment__write-btn > button{height:32px; line-height:32px;}
.comment__write-line{pointer-events: none; position:absolute; left:0; right:0; top:0; bottom:0; display:block; z-index: 2; border:1px solid #007aff; border-radius: 8px;}
.comment__write textarea:placeholder-shown ~ .comment__write-line{border-color: #292a34;}
.comment__write textarea:focus ~ .comment__write-line{border-color: #007aff;}
.comment__list{}
.comment__list > ul ul{margin-left:24px}
.comment__list-li{}
.comment__list-item{position:relative; margin-top:30px;}
.comment__list-item .contextMenu{position:absolute; top:0; right:-4px;}
.comment__list-item + .comment__write{margin-top:20px;}
.comment__list-name{color:#80839b; font-size:12px;}
.comment__list-content{margin:6px 0 20px;}
.comment__list-txt{font-size:13px;}
.comment__list-util{}
.comment__list-date{font-size:12px; color:#80839b; margin-right:20px;}
.comment__list-btn{font-size:12px; color:#c2c4d8; font-weight: bold; background:transparent;}
.comment__list-btn:hover{text-decoration: underline;}
.comment__nomsg{font-size:13px; color:#80839b; text-align: center; margin:30px 0 50px;}

/* memberinfo */
.memberinfo{background-color: #292a34; border-radius: 4px;}
.memberinfo ul{padding:9px 0;}
.memberinfo__item{display: flex; align-items: center; justify-content: space-between; /*height:35px;*/ padding:6px 15px}/*010로 인한 주석처리*/
/* .memberinfo__item:hover{background-color:#1c1e27} */
.memberinfo__item-txt{}
.memberinfo__item-txt > strong{}
.memberinfo__item-txt > p{color:#80839b; margin-top:4px;}
.memberinfo__item-btn{}

/* dashboardBox */
.dashboardBox{display:flex; align-items:center; gap:20px;}
.dashboardBox__item{height:141px; box-sizing:border-box; border-radius:4px; overflow:hidden; background-color:#292a34; flex:1; padding:30px 30px 0 30px; position:relative;}
.dashboardBox__item:after{content:''; display:block; position:absolute; bottom:0; width:100%;background-image: linear-gradient(to right, #5f627b, #5f627b); height:4px; left:0;}
.dashboardBox__item.down:after{background-image: linear-gradient(to right, #407cf8, #00d4d4);}
.dashboardBox__item.up:after{background-image: linear-gradient(to right, #ff365b, #f208ea);}

.dashboardBox__item-tit{font-size:16px; color:#80839b;display:block; margin-bottom:14px; font-weight:bold;}
.dashboardBox__item-number{font-size:40px; color:#fff; display:inline-block; margin-right:10px;}
.dashboardBox__item-growth{color:#fff; font-size:14px;}
.dashboardBox__item-growth:before{content:''; display:inline-block; width:18px; height:18px; background:url(../images/common/ico_18.png) no-repeat -198px 0; vertical-align: middle;margin: -2px 1px 0 0;}
.up .dashboardBox__item-growth{color:#ff365b;}
.down .dashboardBox__item-growth{color:#407cf8;}
.up .dashboardBox__item-growth:before{background-position:-216px 0}
.down .dashboardBox__item-growth:before{background-position:-234px 0}

.dashboard{display:flex; gap:20px; flex-wrap: wrap }
.dashboard__item{width:calc(50% - 10px); overflow:hidden; border-radius:8px;}
.dashboard__item.w100p{}
.dashboard .chart{height:455px; padding:78px 30px 18px;}
.dashboard__item:first-child .chart{padding:55px 30px 18px;}
.dashboard .chart .chart__legend{top:54px;}

.flex-card{display:flex; gap:20px;flex-wrap: wrap;}
.flex-card__item{flex:1; height:80px; /*background-color: #292a34;*/ background: url(../images/content/bg_card.png) repeat 0 0; border-radius: 4px;}
.flex-card__item.w100{flex:100%}
.flex-card__item.w50{flex:48%}
.flex-card__item-txt{height:40px; line-height:40px; background-color: #292a34; color:#80839b; font-size:13px; padding-left:12px; font-weight:bold;}
.flex-card__item.w100 .flex-card__item-txt,
.flex-card__item.w50 .flex-card__item-txt{color:#fff;}
.flex-card__item .input-text > input{border-radius: 4px 4px 0 0;}

.ui-sortable{list-style-type: none;margin: 0;padding: 0;position:relative;}
.ui-sortable li{background: #292a34; font-size:13px; height:40px; line-height:40px; position:relative; border:0; padding-left:10px;}
.ui-sortable li + li{margin-top:1px}
.ui-sortable li .ui-icon{position: absolute;right: 10px;top: 50%; transform: translateY(-50%); width:24px; height:24px; background:url(../images/common/ico_24.png) no-repeat -600px 0; margin:0;}
.ui-sortable li [class ^= "ico-"]{position: absolute; right:44px; top: 50%; transform: translateY(-50%); margin:0;}
.ui-sortable li [class ^= "ico-"].active{background-position-y:-24px;}
.ui-sortable-helper{background-color:#163052 !important; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);}
.boxlist{}
.boxlist > ul > li{height:40px; line-height:40px; padding-left:10px; font-size:13px; color:#fff; background-color: #292a34;}
.boxlist > ul > li + li{margin-top:1px;}

.loginfo{text-align:center; padding-top:20px}
.loginfo__name{font-size:13px; color:#80839b; display:block; margin:0 0 6px;}
.loginfo__id{font-size:24px; color:#fff;}
.loginfo__error{font-size:13px; color:#ff365b; display:block; line-height:20px;}

/* fullChart */
.fullChart{background:url(../images/common/bg_chart_full.png) no-repeat; background-size:100% 100%; position:fixed; z-index: 100; left:0; right:0; top:0; bottom:0;}
.fullChart > button{position:absolute; left:50%; top:20px; transform: translateY();}
.fullChart__box{position: absolute; top:64px; right:10px; left:10px; bottom:10px;border-radius: 8px;background-color: rgba(28,30,39,.8); padding:20px;}
.fullChart__regend{}
.fullChart__regend > li{float:left; font-size:12px; padding-left:20px; position:relative}
.fullChart__regend > li + li{margin-left:20px;}
.fullChart__regend > li:before{content:''; width:16px; height:2px; position:absolute; left:0; top:50%; transform: translateY(-50%); background: url(../images/content/ico_fullchart_line_1.png) no-repeat 0 0;}
.fullChart__regend > li:nth-child(2):before{background-image: url(../images/content/ico_fullchart_line_2.png)}
.fullChart__regend > li:nth-child(3):before{background-image: url(../images/content/ico_fullchart_line_3.png)}
.fullChart__chart{position:absolute;  left:20px; right:20px; bottom:20px; top:62px;}
.fullChart__chart > canvas{width:100%; height:100%}

.fullChart.page{position: relative; left:auto; right:auto; top:auto; bottom:auto; z-index: 1; padding: 64px 10px 10px; background: none;background: linear-gradient(to left, #44dfa5, #44dfa5 68%, #007aff 87%, #007aff 87%); overflow:hidden; border-radius:8px}
/* .fullChart.page .fullChart__bg{position:absolute; left:0; right:0; top:0; bottom:0; display:block; } */

.fullChart.page:before,
.fullChart.page:after{content:''; position:absolute; left:0; right:0; top:0; bottom:0; display:block; background: none;background-image: linear-gradient(4deg, #ff365b 4%, rgba(255, 54, 91, 0.99) 4%, rgba(196, 54, 255, 0.46) 52%, rgba(255, 54, 91, 0) 95%);}
.fullChart.page:before{background-image: linear-gradient(175deg, #007aff 5%, rgba(41, 42, 52, 0) 35%);}
.fullChart.page .fullChart__box{position: relative; top:auto; bottom:auto; left:auto; right:auto; z-index: 2; overflow:hidden;}
.fullChart.page .fullChart__head{position: absolute; top: 21px; left:20px; right:10px; z-index: 2;}
.fullChart.page .fullChart__head-tit{position: absolute; left:0;line-height: 24px; font-size:20px;}
.fullChart.page .fullChart__head-btn{position: absolute; right:0;}
.fullChart__box-bgBlack{margin:0 -20px -20px; padding:20px; background:#1c1e27;}

.fullChart.page .fullChart__chart{position:static; height:400px;}
.fullChart.page .fullChart__chart + .fullChart__box-bgBlack,
.fullChart.page .listCtrl + .fullChart__chart{margin-top:20px;}